@model List<TravelApp.Models.Classes.Blog>

<div class="con-bot">
    @foreach (var x in Model)
    {
        <div class="left">

            <div class="bot-left">
                <img style="width: 276px; height: 183.92px" src="@x.Image " />
            </div>
            <div class="left-text">


                <h4>@x.Title</h4>
                <span class="doller">@x.Date.ToShortDateString()</span>

                <p>@x.Explanation.Substring(0,80)</p>
                <p> <a href="/Blog/BlogDetail/@x.id"><span class="read">Read More</span> </a></p>
            </div>
        </div>
    }
    @Html.Action("PartialViewResult2", "Main")   
    <div class="clear"></div>
    </div>
